/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

/* copied from test website 30/09/2022 */

body {
  background-color: rgb(219, 236, 195);
}

#div1 {
	display: block;
	margin-top: 50px;
	margin: 0 auto;
	height: 10%;
	width: 66%;
	border-style: solid;
	border-width: 3px;
	color:	#556C9C;

}

h2 {
	color: black;
	font-family: "Verdana";
	font-weight: 400;
	font-size: 40px;
	text-align: center;
	padding: 5px 5px 5px 5px;
	letter-spacing: 0px;
}

#main {
	display: block;
	margin-left: 5%;
	margin-right: 5%; /* changed from 12.25% */
	width: auto;
}

.p {
	color: rgb(0, 0, 0);
	font-family: "Verdana";
	font-weight: 400;
	font-size: 20px;
	text-align: left;
	letter-spacing: 0px;
}

nav {
	display: block;
}

#Menu {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
	font-family: "Verdana";
	font-weight: 400;
	font-size: 24px;
}

li {
	float: left;
	background-color: #556C9C
}

li a {
	display: block;
	color: white;
	padding: 8px 10px;
	text-decoration: none;
}

li a:hover {
	background-color: #35435E;
}

pre {
	color: white;
}
